.brand {
  background-color: #000000;
  background-image: url('../../../../../public/background2.jpg');
  background-size: 100% 95%;
  background-position: center bottom;
  background-repeat: no-repeat;
}