.login-page {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  z-index: 9999;

  background: #505050;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  background-color: #000000;
  background-image: url('../../../../public/background2.jpg');
  background-size: 100% 90%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
