<div class="relative flex flex-col justify-between h-full">
    <div class="flex flex-col gap-10">
        <app-title class="p-2" main="FocusList" sub='Produtividade <span class="text-white bg-zinc-700 px-1 -skew-x-24 inline-block">pessoal</span>'></app-title>

        <nav>
            <ul class="flex flex-col gap-1">
                <app-menu-link label="Hoje" route="/" icon="today"></app-menu-link>
                <app-menu-link label="Meu-perfil" route="/my-profile" icon="account_circle"></app-menu-link>
            </ul>
        </nav>
    </div>

    <button class="group absolute cursor-pointer transition-all hover:bg-zinc-700 bottom-0 right-0 flex justify-center p-2 rounded-full">
        <span class="material-symbols-outlined transition-colors group-hover:text-white">logout</span>
    </button>
</div>